In [1]:
import numpy as np 
import pandas as pd

data = pd.read_csv('train.csv')
data

      labels                                               text
0         pt  os chefes de defesa da estónia letónia lituâni...
1         bg  размерът на хоризонталната мрежа може да бъде ...
2         zh  很好，以前从不去评价，不知道浪费了多少积分，现在知道积分可以换钱，就要好好评价了，后来我就把...
3         th  สำหรับ ของเก่า ที่ จริงจัง ลอง   honeychurch  ...
4         ru                              он увеличил давление
...      ...                                                ...
69995     ja  本格的なゲーミングヘッドホンでした。 今まで使ってた万円するパナソニックのヘッドホンは何だっ...
69996     el  ναι  ξέρω ένα που είναι ακόμα έτσι  αλλά αυτό ...
69997     ur  اور مجھے اس ملک کے بارے میں معلوم نہیں ہے کہ گ...
69998     es  se me rompió uno al sacarlo del cargador calid...
69999     hi  कोसोवो कथा का विवरण जिसमें स ् थानीय राष ् ट ्...

[70000 rows x 2 columns]

In [2]:
data = data.drop_duplicates()
data.duplicated().sum()

0

In [17]:
data = data.reset_index(drop=True)
data.fillna(method = 'pad', inplace = True)
data.isnull().sum()

C:\Users\ashri\AppData\Local\Temp\ipykernel_2060\2080400921.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data.fillna(method = 'pad', inplace = True)

labels    0
text      0
dtype: int64

In [18]:
data.to_csv('language.csv')
df = pd.read_csv('language.csv', index_col = 0)
df = df.reset_index(drop=True)
df

      labels                                               text
0         pt  os chefes de defesa da estónia letónia lituâni...
1         bg  размерът на хоризонталната мрежа може да бъде ...
2         zh  很好，以前从不去评价，不知道浪费了多少积分，现在知道积分可以换钱，就要好好评价了，后来我就把...
3         th  สำหรับ ของเก่า ที่ จริงจัง ลอง   honeychurch  ...
4         ru                              он увеличил давление
...      ...                                                ...
68961     ja  本格的なゲーミングヘッドホンでした。 今まで使ってた万円するパナソニックのヘッドホンは何だっ...
68962     el  ναι  ξέρω ένα που είναι ακόμα έτσι  αλλά αυτό ...
68963     ur  اور مجھے اس ملک کے بارے میں معلوم نہیں ہے کہ گ...
68964     es  se me rompió uno al sacarlo del cargador calid...
68965     hi  कोसोवो कथा का विवरण जिसमें स ् थानीय राष ् ट ्...

[68966 rows x 2 columns]

In [19]:
df.duplicated().sum()

0

In [20]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB

x = df['text']
y = df['labels']

cv = CountVectorizer()
x = cv.fit_transform(x)
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.33, random_state=42)

model = MultinomialNB()
model.fit(xtrain, ytrain)
model.score(xtest, ytest)

0.9534689573355596

In [21]:
user = input("Enter a Text: ")
data = cv.transform([user]).toarray()
output = model.predict(data)
print(output)

Enter a Text:  कोसोवो कथा का विवरण जिसमें स

['hi']

In [22]:
user2 = input("Enter a Text: ")
data2 = cv.transform([user2]).toarray()
output = model.predict(data2)
print(output)

Enter a Text:  Could you display the head

['en']

In [23]:
user3 = input("Enter a Text: ")
data3 = cv.transform([user3]).toarray()
output = model.predict(data3)
print(output)

Enter a Text:  он увеличил давление

['ru']

In [24]:
user3 = input("Enter a Text: ")
data3 = cv.transform([user3]).toarray()
output = model.predict(data3)
print(output)

Enter a Text:  Hallo, Guten Morgen

['de']